
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/* ............................................ */


/* ......................................Section Social.......................................... */
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.section-social{
    width: 100%;
    background-color: #F8EFEF;
    padding: 20px;
    margin: 0;
}

.social-info{
    max-width: 470px;
}

.social-info__title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-transform: capitalize;
    max-width: 470px;
}

.social-info__text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-top: 18px;
}

.social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social-info__{
    align-items: center;  
    max-width: 700px;
}

.social-info__link{
    display: flex;
    flex-wrap: wrap;
}

.social-info__item{
    max-width: 70px;
    max-height: 70px;
    margin-left: 30px;
}

/* ..........................................Section Benefits............................ */
.container-benefits{
    padding: 50px;
    text-align: center;

}
.benefits__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.benefits__text-grey{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-top: 100px;
}
.benefits__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px -15px 0 -15px;
    flex-wrap: wrap;
}
.benefits__card{
    margin-right: 15px;
    width: calc(100% / 12 * 4 - 30px);
}
.benefits__icon-card{
    width: 92px;
    height: 92px;  
    
}
.benefits__subtitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    padding: 40px;
}
.benefits__text-card{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 15px;
    padding-bottom: 60px;
}
.benefits__separator{
    border: 1px solid #EC7979;
    background-color: #EC7979;
    max-width: 170px;
    margin-top: 52px;
    margin: 52px auto 0px auto;
}

/*................................................Section Banner...................................... */
.section-banner{
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 50px;
}
.banner__download{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.banner__text{
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
}
.banner__using{
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 40px;
}
.banner__button-download{
    color: white;
    background: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    border-color: white;
    cursor: pointer;
    border: 1px solid white;
    padding: 15px;
    margin: 50px auto;
    width: 370px;
}
.banner__separator{
    border: 1px solid #FFFFFF;
    background-color: #fff;
    width: 170px;
    margin: 0 auto;
}

/* ...............................................Footer...................................... */
footer{
    width: 100%;
    background-color: #000000;
}

.footer__social-link{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
.footer__social-icons{
        max-width: 700px;
        margin: 0 auto;
}

.footer__copyright{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 30px;
}
.footer__icon{
    width: 53px;
}
/* ................................................. */

@media screen and (max-width: 912px){
    .container-benefits{
        max-width: 942px;
        padding: 50px 20px;
    }
}
@media screen and (max-width: 768px){
    .container-benefits{
        max-width: 798px;
    }
    .benefits__cards{
        display: flex;
        flex-wrap: wrap;
    }
    .benefits__card{
        width: calc(100% / 12 * 6 - 30px);
    }
}
@media screen and (max-width: 576px){
    .container-benefits{
        max-width: 606px;
    }
    .benefits__cards{
        display: flex;
        flex-wrap: wrap;
    }
    .benefits__card{
        width: calc(100% / 12 * 12 - 30px);
    }
}



