/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a { 
    color: inherit; 
} 


ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}
/* ............................................ */

:root {
    --white: white;
    --prime-color: #AB4949;
    --prime-color-light: #EC7979;
    --dark: black;
    --gutter: 15px;
    --content-width: 1200px;
    --mobile-padding:15px;
}
/* *{ border:1px solid red; box-sizing:border-box; } */
/* ......................................HEADER................................ */
.header{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: var(--dark);
}
.header__nav-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.header__logo-img{
    width: 145px;
}
.header__list{
    position: relative;
    display: flex;
    flex-direction: row;
}
.header__item{
    margin-top: 18px;
}
.header__link{
    color: var(--white);
    margin-left: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size:14px;
    line-height: 1.1875em;
    text-transform: capitalize;
}
.header__link:hover{
    color: var(--white);
    border-bottom: 2px solid var(--prime-color);
}
@media screen and (max-width: 768px){
    .burger{
        width: 60px;
        height: 30px;
        cursor: pointer;
        position: relative;
        float: right;
        text-align: center;
    }
    .burger_header:before{
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        background: var(--white);
        margin: 0 auto;
    }
    .burger__line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgb(254, 254, 254);
        position: absolute;
        left: 0;
        transition: .3s all linear;
    }
    .burger__line_active{
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgb(254, 254, 254);
        position: absolute;
        left: 0;
        transition: .3s all linear; 
    }
    .burger__line_first{
        top: 0;
    }
    .burger__line_second, .burger__line_third{
        top: 50%;
        transform: translateY(-50%);
    }
    .burger__line_fourth{
        bottom: 0;
    }
    .burger_active .burger__line_first, .burger_active .burger__line_fourth{
        opacity: 0;
    }
    .burger_active .burger__line_second{
        transform: translateY(-50%) rotate(45deg);
    }
    .burger_active .burger__line_third{
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__nav{
        display: none;
    }
    .header__nav_active{
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        background: var(--dark);
        width: 100%;
        height: 100vh;
    }
    .header__list_active{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-top: 56px;
        width: 100%;
    }
}

/* submenu start */
.header__list>li:hover .header__sublist{
    display: block;
}
.header__sublist{
    display: none;
    position: absolute;
    top: 35px;
    left: 140px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36em;
    background-color: var(--dark);
    color: var(--white);
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
}
.header__sublist>li:hover .header__sub-sublist{
    display: inline-block;
}
.header__subitem{
    display: block;
    padding: 10px;
    min-width: 200px;    
}
.header__sub-sublist{
    display: none;
    position: absolute;
    top: 18px;
    left: 100%;
    background-color: var(--dark);
    border-radius: 0 0 10px 0;
    padding: 0 0 0 -10px;
}
.header__sub-subitem{
    display: block;
    padding: 10px;
    min-width: 200px;
}
.header__subitem a:hover{
    color: var(--white);
    border-bottom: 1px solid var(--prime-color);
}
.arrow{
    position: absolute;
    left: 205px;
    top: 23px;
    width: 0;
    height: 0;
    border-top: 10px solid var(--white);
    border-right: 5px  solid transparent;
    border-left: 5px  solid transparent;
}
.header__subitem-arrow{
    left: 186px;
    top: 34px;
    z-index: 6;
    transform: rotateZ(-90deg);
}
    /* submenu end */
/* .......................................PROMO................................ */
.promo{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/promo/bg.png) no-repeat center;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 50px;
}
.promo__container{
    display: flex;
    padding-top: 100px;
}
.promo__content{
    width: calc(100% / 12 * 7);
}
.promo__logo-img{
    width: 270px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.promo__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16em;
    text-transform: uppercase;
    color: var(--white);
}
.promo__title:after{
    content: "";
    display: block;
    border: 1px solid var(--white);
    max-width: 170px;
    margin-top:55px;
}
.promo__text{
    color: var(--white);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.166em;
    margin: 42px 0;
}
/*------------------------------------- */
/* component BTN start */
/* ------------------------------------ */
.btn-outlined {
    color: var(--white);
    background: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5625em;
    text-transform: capitalize;
    border-color: var(--white);
    cursor: pointer;
    border: 1px solid var(--white);
    padding: 15px;
}
.btn-outlined:hover {
    background-color: rgb(251, 251, 250);
    color: var(--dark);
    transition: 0.3s;
}
/* ------------------------------ */
/* component BTN end */
/* ------------------------------ */

.promo__btn{
    min-width: 270px;
}
.promo__form{
    border-radius: 10px;
    display: block;
    background-color: var(--white);
}
.promo__form-container{
    display: flex;
    flex-direction: column;
    width: calc(100% / 12 * 5);
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.promo__form-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375em;
    text-transform: uppercase;
    margin: 50px;
    text-align: center;
}
.form-input{
    padding: 0 50px;
}
.promo__form-title_color{
    color: var(--prime-color-light);
}
.promo-input{
    padding: 35px 15px 5px 15px;
}
/* ------------------------------ */
/* component input-form start */
/* ------------------------------ */
.input{
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35em;
}
.input:focus{
    border-bottom: 1px solid var(--prime-color-light);
}
/* ------------------------------ */
/* component input form end */
/* ------------------------------ */
.promo__form-btn{
    border-radius: 0 0 10px 10px;
    margin-top: 75px;
}
/* ------------------------------ */
/* component BTN color Pink start */
/* ------------------------------ */
.prime-btn{
    background-color: var(--prime-color-light);
    width: 100%;
    padding: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height:  1.33em;
    color: var(--white);
}
.prime-btn:hover{
    background-color: var(--prime-color);
}
.prime-btn:focus{
    background-color: var(--prime-color-light);
    box-shadow: inset 0px 0px 10px var(--prime-color);
}
/* ------------------------------ */
/* component BTN color Pink end */
/* ------------------------------ */

@media screen and (max-width: 1024px) {
    .promo__container{
        padding: 100px 15px;
    }
    .promo__logo-img{
        margin-top: 50px;
    }
    .promo__title{
        font-weight: 500;
        font-size: 36px;
        line-height: 1.16em;
    }
    .promo__content{
        width: calc(100% / 12 * 6);
    }
    .promo__form-container{
        width: calc(100% / 12 * 6);
    }
    .promo__form-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.388em;
    }
    .promo__text{
        font-size: 14px;
        line-height:  1.14em;
        min-width: 183px;
    }
    .promo__btn{
        width: 183px;
    }
    .promo__title:after{
        content: "";
        min-width: 115px;
        margin-top:41px;
    }
}

@media screen and (max-width: 768px){
    .promo{
        height: 200vh;
    }
    .promo__container{
        flex-wrap: wrap;
    }
    .promo__content{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .promo__logo-img{
        opacity: 0;
        margin-top: 0;
    }
    .promo__title:after{
        margin: 43px auto;
        min-width: 134px;
    }
    .promo__title{
        font-weight: 500;
        font-size: 36px;
        line: height 1.11em;;
        text-align: center;
    }
    .promo__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.16em; 
    }
    .promo__btn{
        width: 380px;
    }
    .promo__form-container{
        display: block;
        width: calc(100% / 12 * 12);
        margin: 0;
    }
    .promo__form{
        padding-top: 15px;
    }
}
@media screen and (max-width: 380px){
    .promo__title{
        font-weight: 500;
        font-size: 36px;
        line-height: 1.166em;
    }
    .promo__text{
        max-width: 288px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
        text-align: center;
    }
    .promo__btn{
        max-width: 288px;
    }
    .promo__form-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.357em;
    }
    .promo__form-input{
        padding: 0 20px;
    }
}

/* Modal window start */
.modal{
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content{
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    width: 40%;
}
.modal-close{
    color: #211f1f;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.modal-title{
    border-bottom: 2px dotted rgb(203, 117, 117);
    padding: 20px;
}
.modal-window__btn{
    border-radius: 15px;
    margin-top: 75px;
}
.promo__message{
    padding-top: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.357em;
}
.modal-window__form-input{
    padding: 35px 15px 5px 15px; 
}
/* Modal window end */
/* ......................................Section Social.......................................... */
.social {
    background-color: #F8EFEF;
    padding: 20px 0;
    margin: 0;
}

.wrapper {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 var(--mobile-padding);
}

.social__inner {
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.social__info {
    align-items: center;
}
.social__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 2.0625em;
    align-items: center;
    text-transform: capitalize;
    max-width: 470px;
}

.social__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
    color: #86878B;
    margin-top: 18px;
}
.social__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}
.social-list__img{
    max-width: 70px;
    max-height: 70px;
}
@media screen and (max-width: 1024px){
    .social__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.388em;;
    }
    .social__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
    .social-list__img{
        max-width: 53px;
        max-height: 53px;
    }
}
@media screen and (max-width: 380px){
    .social__inner{
        padding: 0;
    }
    .social__info{
        width: 100%;
        text-align: center;
    }
    .social__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.388em;
    }
    .social__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
    .social__icons{
        display: flex;
        width: 100%; 
    }
    .social-list__item{
        max-width: 26px;
        max-height: 26px;
    }
}
/* .........................................Section Tabs................................. */
.tab{
    padding-top: 100px;
    padding-bottom: 80px;
}
.tabs {
    font-size: 0;
}
.tabs>input[type="radio"] {
    display: none;
}
.tabs>div {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
}
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
}
.tabs>label {
    width: 200px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: var(--white);
    padding: 10px 8px;
    transition: color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.357em;
    text-transform: uppercase;
}
.tabs>label:not(:first-of-type) {
    border-left: none;
}
.tabs>input[type="radio"]:checked+label {
    background-color: var(--white);
    border-radius: 10px 10px 0 0;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid var(--white);
}
.tabs__body{
    display: flex;
    justify-content: space-between;
}
.tabs__body-content{
    max-width: 570px;
    text-align: justify;
    padding: 15px;
    margin-left: 75px;
}
.tabs__body-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 2.5625em;
    margin-bottom: 60px;
    margin-top: 45px;
}
.tabs__body-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
}
.tabs__body-btn {
    margin-top: 27px;
    width: 270px;
}
.btn-primary {
    background: var(--prime-color-light);
    color: var(--white);
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5625em;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}
.btn-primary:hover {
    background: var(--prime-color);
    color: var(--white);
}
.btn-primary:focus {
    background-color: var(--prime-color-light);
    box-shadow: inset 0px 0px 10px var(--prime-color);
}
.tabs__img-1, .tabs__img-2, .tabs__img-3{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .tab{
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .tabs>label {
        width: 100px;
    }
    .tabs__body{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .tabs__body-btn{
        margin: 50px auto;   
    }
    .tabs__img{
        display: block;
        order:0;
    }
    .tabs__body-content{
        order:1;
        margin-left: 0px;
    }
    .tabs__body-title{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5625em;
        text-align: center;
    }
    .tabs__body-text{
        font-size: 14px;
        line-height: 1.07em;
    }
    .tabs__img-1, .tabs__img-2, .tabs__img-3{
        max-height: 300px;
        margin:0 auto;
    }
}
@media screen and (max-width: 380px){
    .tabs__img-1, .tabs__img-2, .tabs__img-3{
        display: none;
    }
    .tabs>label {
        width: 70px;
    }
}
/* ..........................................Section Benefits............................ */
.benefits {
    padding: 50px 15px;
    text-align: center;
}
.benefits-head{
    margin-bottom: 70px;
}
.section-head__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 2.625em;
    color: var(--dark);
    text-transform: uppercase;
}

.section-head__title:after {
    content: "";
    display: block;
    border: 1px solid var(--prime-color-light);
    max-width: 170px;
    margin: 42px auto 0px auto;
}

.section-head__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
    color: #86878B;
    margin-top: 70px;
}
/* ********************************* */
.row {
    display: flex;
    margin: 0 calc(var(--gutter) * -1);
    flex-wrap: wrap;
}
.col-4 {
    margin-right: var(--gutter);
    margin-left: var(--gutter);
    width: calc(100% / 3 - var(--gutter) * 2);
}
.col-5{
    width: calc(100% / 12 * 5 - 30px);
    margin: 0 15px;
}
.col-6{
    width: calc(100% / 12 * 6 - 30px);
    margin: 0 15px;
}
.col-7{
    width: calc(100% / 12 * 7 - 30px);
    margin: 0 15px;
}
/* ********************************* */
.benefits__icon-card {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.benefits__subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 2.0625em;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.benefits__text-card {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
    color: var(--dark);
    padding: 15px;
}
@media screen and (max-width: 1024px){
    .benefits {
        padding: 15px 15px;
    }
    .section-head__title{
        font-weight: 400;
        font-size: 24px;
        line-height: 1.166em;
    }
    .section-head__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
    .benefits__icon-card{
        width: 120px;
        height: 120px;
    }
    .benefits__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.388em;
    }
    .benefits__text-card{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
    .section-head__title:after {
        content: "";
        display: block;
        border: 1px solid var(--prime-color-light);
        background-color: var(--prime-color-light);
        max-width: 170px;
        margin: 42px auto 0px auto;
    }
}
@media screen and (max-width: 768px){
    .col-4 {
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
        margin-bottom: 25px;
    } 
    .reviews-card__customers{
        margin-top: 33px;
    }
}
@media screen and (max-width: 380px){
    .benefits{
        padding: 50px 0;
    }
    .col-4 {
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
        margin-bottom: 25px;
    }
}

/* ...............................................Section PRICE...................................... */
.price {
    padding: 50px 0;
    text-align: center;
    background-color: #F5F5F5;
}
.price__cards {
    margin-top: 80px;
}
.price__card:hover {
    transform: translate(0px, -30px);
    transition: 0.2s linear;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
}

.price-card__header {
    background-color: var(--dark);
    padding: 0 32px;
    width: 100%;
}
/* ------component price-card start------ */
.price-head{
    margin-bottom: 79px;
}
.price-card__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 2.0625em;
    text-transform: capitalize;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding-top: 18px;
    padding-bottom: 18px;
}

.price-card__value {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 2.625em;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding-top: 32px;
    padding-bottom: 32px;
}

.price-card__free {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 16px;
    padding-bottom: 16px;
}

.price-card__body {
    background-color: var(--white);
    width: 100%;
}

.price-card__item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
    text-transform: capitalize;
    color: #86878B;
    border-bottom: 1px solid #F5F5F5;
    padding-top: 18px;
    padding-bottom: 18px;
}
/* ------component price-card end------ */

@media screen and (max-width: 1024px){
    .price__cards{
        padding: 0 15px;
    }
    .price-card__header{
        padding: 0 16px;
    }
    .price-card__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.375em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .price-card__value{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16em;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .price-card__free{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.166em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .price-card__item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 768px){
    .price-card__name{
        font-weight: 700;
        font-size: 18px;
        line-height:  1.388em;
    }
    .price-card__value {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.166em;
    }
    .price-card__free{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
    .price-card__item{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
}
/* ...............................................Section REVIEWS..................................... */
.reviews{
    padding: 70px 15px;
    text-align: center;
}
.reviews__cards{
    margin-top: 83px;
}
/* -----component rewiews-card start------- */
.reviews-card__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.166em;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 38px 30px;
    color: #86878B;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.reviews-card__text:after{
    content: ''; 
    position: relative;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #E2E2E2;
    bottom: -4.5em;
    z-index: 0;
}
.reviews-card__customers{
    margin-top: 66px;
    display: flex;
    text-align: start;
}
.reviews-card__photo{
    width: 70px;
    height: 70px;
    margin-right: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.reviews-card__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375em;
    text-transform: capitalize;
    color: var(--dark);
}
.reviews-card__position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.166em;
    color: var(--dark);
    margin-top: 15px;
}
/* --------component rewiews-card  end--------- */

@media screen and (max-width: 1024px){
    .reviews-card__photo{
        width: 63px;
        height: 63px;
    }
    .reviews-card__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
    .reviews-card__name{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.388em;
    }
    .reviews-card__position{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
}
/* -------------------------- */
/* Review slider */
/* -------------------------- */

/*................................................Section Banner...................................... */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 100px 0 100px 0;
    display: flex;
    text-align: center;
}

.section-head__title_light {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 2.625em;
    color: var(--white);
    text-transform: uppercase;
}

.section-head__text_light {
    color: var(--white);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 73px;
}

.section-head__title_light:after {
    content: "";
    display: block;
    max-width: 170px;
    border: 1px solid var(--white);
    margin: 57px auto 0 auto;
}
.banner__btn{
    width: 370px; 
}
@media screen and (max-width: 1024px){
    .banner__btn{
        width: 318px;
    }
}
@media screen and (max-width: 380px){
    .section-head__title_light {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.166em;
    }
    .section-head__text_light{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
    .banner__btn{
        max-width: 288px;
    }
}

/* ...............................................Contacts................................... */
.contacts{
    padding: 70px 0;
    text-align: center;
}
.contacts__form{
    margin-top: 124px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts__form-message{
    width: calc(100% / 2);
}
.contacts-input{
    padding-top: 50px;
    padding-bottom: 16px;
}
.contacts__form-item{

}
.contacts__form-message{
    width: calc(100% / 2 - 30px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.357em;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
    padding-top: 40px;
}
textarea{
    resize: none;
    width: 100%;
    height: 100%;
}
.contacts__btn{
    width: 370px;
    font-size: 18px;
    line-height: 1.388em;
    text-transform: capitalize;
    padding: 15px;
    margin: 50px auto;  
}
@media screen and (max-width: 1024px){
    .contacts__form{
        padding: 0 15px;
    }
    .contacts__btn{
        width: 318px;
    }
}
@media screen and (max-width: 380px){
    .contacts{
        padding: 50px 0;
    }
    .contacts__form{
        flex-direction: column;
        margin-top: 85px;
    }
    .contacts__form-info{
        width: 100%;
    }
    .contacts__form-message{
        width: 100%;
        margin-top: 50px;
        padding-bottom: 182px;
    }
    .contacts__btn{
        max-width: 288px
    }
}
/* ...............................................Footer...................................... */
footer {
    background-color: var(--dark);
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
}
.footer__copyright {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125em;
    text-align: center;
    margin-top: 32px;
}
.footer__icon {
    width: 53px;
    margin-right: 40px;
}
@media screen and (max-width: 380px){
    .footer__icon {
        width: 26px;
        margin-right: 19px;
    }
    .footer__copyright{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14em;
    }
}